<mat-card class="search-panel-container">
    <h2 class="search-panel-list-header">Search panel</h2>
    <mat-form-field class="full-width">
        <input [(ngModel)]="keyWord"  #searchInput matInput placeholder="Search for keywords ... " autocomplete="off">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="isCheckBoxChecked" (change)="getCompletedOnly($event)">Completed only</mat-checkbox>
</mat-card>