<form class="login-form  d-flex justify-content-center align-items-center w-100"
      (submit)="onSubmit()"
      [formGroup]="loginForm">
    <div class="d-flex flex-column justify-content-center form-fields-container">
        <div>
            <mat-form-field class="full-width">
                <input matInput
                       autocomplete="off"
                       placeholder="Login"
                       formControlName="login">
                <mat-error *ngIf="loginForm.controls['login'].hasError('required')">
                    This field is required!
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width">
                <input matInput
                       type="password"
                       placeholder="Password"
                       autocomplete="off"
                       formControlName="password">
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                    This field is required!
                </mat-error>
            </mat-form-field>
        </div>
        <div class="login-footer d-flex justify-content-end">
            <button type="submit" mat-raised-button color="primary">Login</button>
        </div>
    </div>
</form>