.todo-title {
  font-size: 16px;
  color: darkgrey;
}

.description {
  font-size: 12px;
}

.completed {
  font-size: 16px;
}

mat-card:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  transition: .2s;
}

i {
  font-size: 16px;
  cursor: pointer;

  &.red {
    color: red;
  }

  &.blue {
    color: blue;
  }

}