<div class="p-2 todo-item">
    <mat-card>
        <h3 class="todo-title d-flex justify-content-between">
            <span [textContent]="todo.name"></span>
            <div>
                <i class="material-icons red" (click)="deleteTodo()">
                    delete_forever
                </i>

                <i class="material-icons blue" (click)="openDialog()">
                    create
                </i>
            </div>
        </h3>
        <div class="completed">
            <mat-checkbox (change)="marckAsCompleted($event)" [(ngModel)]="todo.isCompleted">
                <span [style.color]="todo.isCompleted ? 'green' : 'red'"
                      [textContent]="todo.isCompleted ? 'Completed' : 'Pending'">
                </span>
            </mat-checkbox>
        </div>
        <div class="description">
            <span [textContent]="todo.description"></span>
        </div>
    </mat-card>
</div>
