<app-search-panel (checkBoxEvent)="searchForCompleted($event)" (searchEvent)="searchTodoBeKeyWord($event)"></app-search-panel>
<mat-card class="todos-list-container">
   <div class="list-header d-flex justify-content-between align-items-center ">
       <h2 class="todo-list-header">My todos</h2>
       <button mat-raised-button color="primary"
               (click)="openDialog()">
           Add TODO
       </button>
   </div>
    <div class="row">
        <div class="col-12 col-lg-6" *ngFor="let todo of todoListForDisplay">
            <app-todo-item (editTodoEvent)="editTodoInArray($event)"
                           (deleteTodoEvent)="deleteTodo($event)"
                           [todo]="todo">
            </app-todo-item>
        </div>
    </div>
</mat-card>
