/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  height: 100%;
}

*:not(i):not(mat-icon) {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

body {
  margin: 0 !important;
}

.full-width {
  width: 100%!important;
}